/* Base styles dieser Block definiert Variablen, die im gesamten CSS verwendet werden können.
Diese Variablen sind wie Schubladen, in denen du Werte aufbewahrst, die du später immer wieder benutzen kannst. 
Sie befinden sich im :root, was bedeutet, dass sie global im gesamten Dokument verfügbar sind.*/
:root {
    --primary-color: #2a9d8f;
    --secondary-color: #264653;
    --accent-color: #e9c46a;
}

body {
    font-family: sans-serif;
    color: rgb(12, 12, 12);
    background-color: cadetblue;
    position: relative;
    background: fixed;
    min-height: 100vh;
}